.main{
  border:1px solid black;
  border-radius: 5px;
  width: 250px;
}
#display{
  margin:15px;
 width: 85%;
 font-size: 35px;
 border-radius: 5px;

}
.buttons{
  width: 50px;
  height: 50px;
  margin: 10px;
border-radius: 5px;
}
.button_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}